.DS_Store
**/.DS_Store

cocos2d/**
bin/**

**/xcuserdata/**
**/build/**

*.a
*.o
*.o.d
*.so

*.sdf
*.opensdf

*~
*.un
*.swp

*.lib
*.dll
*.pdb

**/Debug/**

*.tlog

*ipch*
proj.win32/Debug.win32/beatupisis.log

*.exe
*.apk
*.apk.*

*/bin/*
*/obj/*

*tags*

raw/*

!raw/buildup_editor/*
!raw/buildup_editor

raw/buildup_editor/Resources
raw/buildup_editor/Resources/*

proj.win32/beatupisis.v12.suo
proj.win32/Debug.win32/*


proj.android/assets/*

Doxy*

*.7z

proj.win32/Debug.win32.zip
proj.win32/Release.win32/
proj.win32/buildupthebase.psess
proj.win32/buildupthebase.sln.DotSettings.user
proj.win32/buildupthebase.suo
proj.win32/buildupthebase.v12.suo
proj.win32/buildupthebase*.vsp

*.pyc
