.DS_Store
**/.DS_Store

cocos2d/**
bin/**

**/xcuserdata/**
**/build/**

*.a
*.o
*.o.d
*.so

*.sdf
*.opensdf

*~
*.un
*.swp

*.lib
*.dll
*.pdb

**/Debug/**

*.tlog

*ipch*
proj.win32/Debug.win32/beatupisis.log

*.exe
*.apk
*.apk.*

*/bin/*
*/obj/*

*tags*

raw/*

proj.win32/beatupisis.v12.suo
proj.win32/Debug.win32/*


proj.android/assets/*

Doxy*

*.7z

