<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Troll_Icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{44,641},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{54,639},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{54,649},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_Running_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{30,651},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>badmother20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{39,106},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brickwall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{2,54},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_flat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{39,128},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{39,145},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{50,203},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,15}</string>
                <key>spriteSourceSize</key>
                <string>{5,15}</string>
                <key>textureRect</key>
                <string>{{56,128},{5,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crazedcook10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{39,260},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_elf8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{30,661},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{2,272},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_face_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,272},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_face_neutral_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,309},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_face_neutral_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{2,311},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_flinch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,346},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_gritted_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{2,533},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_gritted_teeth_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{2,570},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{2,348},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_left_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,383},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_left_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{2,385},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_left_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,420},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{2,422},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,457},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{2,459},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,494},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_side_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{2,607},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{2,496},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{33,531},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{2,644},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth_side_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{32,568},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{19,8}</string>
                <key>textureRect</key>
                <string>{{54,83},{19,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_beard2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,5}</string>
                <key>spriteSourceSize</key>
                <string>{19,5}</string>
                <key>textureRect</key>
                <string>{{39,224},{19,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_glasses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,8}</string>
                <key>spriteSourceSize</key>
                <string>{27,8}</string>
                <key>textureRect</key>
                <string>{{54,54},{27,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{32,605},{34,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_monocle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{50,177},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_moustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,5}</string>
                <key>spriteSourceSize</key>
                <string>{17,5}</string>
                <key>textureRect</key>
                <string>{{55,2},{17,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fist_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{2,2},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fist_moving.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{2,173},{49,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fist_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,46}</string>
                <key>textureRect</key>
                <string>{{2,224},{35,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{2,681},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{50,162},{13,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{39,162},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{50,190},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{52,145},{10,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{55,21},{6,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{39,245},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{19,681},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{50,220},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{30,671},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hulkingmantis8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{53,615},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idol8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{53,627},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imp8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{40,651},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackal8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{51,244},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumper8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{40,661},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumper9x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{53,605},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mutantfish8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{40,671},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ogre10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{46,232},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_baby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,65}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{2,106},{35,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{51,256},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{36,681},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sludge8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{50,659},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{50,669},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{50,669},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{50,669},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>townsmen8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{46,681},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wildling8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{32,641},{8,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>master.png</string>
            <key>size</key>
            <string>{64,697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b2f53cb65a428da68820dafe1a203f:951d8c0ca83c541d528c3c1217e4177c:552dd7f595df33b2cd73a42f9fda294b$</string>
            <key>textureFileName</key>
            <string>master.png</string>
        </dict>
    </dict>
</plist>
