<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anvil.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{385,2},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrowLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{208,338},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{20,17}</string>
                <key>textureRect</key>
                <string>{{240,17},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{247,2},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bones.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{402,2},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,27}</string>
                <key>spriteSourceSize</key>
                <string>{35,27}</string>
                <key>textureRect</key>
                <string>{{2,45},{35,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,7}</string>
                <key>spriteSourceSize</key>
                <string>{37,7}</string>
                <key>textureRect</key>
                <string>{{91,2},{37,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_bar_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,7}</string>
                <key>spriteSourceSize</key>
                <string>{37,7}</string>
                <key>textureRect</key>
                <string>{{130,2},{37,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_bot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,13}</string>
                <key>spriteSourceSize</key>
                <string>{40,13}</string>
                <key>textureRect</key>
                <string>{{901,2},{40,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,55}</string>
                <key>spriteSourceSize</key>
                <string>{40,55}</string>
                <key>textureRect</key>
                <string>{{507,45},{40,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,9}</string>
                <key>spriteSourceSize</key>
                <string>{40,9}</string>
                <key>textureRect</key>
                <string>{{205,2},{40,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>combo_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,11}</string>
                <key>spriteSourceSize</key>
                <string>{40,11}</string>
                <key>textureRect</key>
                <string>{{415,2},{40,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cooking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,10}</string>
                <key>spriteSourceSize</key>
                <string>{15,10}</string>
                <key>textureRect</key>
                <string>{{351,2},{15,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crosshair_black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{102,45},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crosshair_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{68,45},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirt_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{206,17},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dirt_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{223,17},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollar_sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,13}</string>
                <key>spriteSourceSize</key>
                <string>{8,13}</string>
                <key>textureRect</key>
                <string>{{44,17},{8,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dump_darker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,94}</string>
                <key>spriteSourceSize</key>
                <string>{120,94}</string>
                <key>textureRect</key>
                <string>{{2,338},{120,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_healthbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,12}</string>
                <key>spriteSourceSize</key>
                <string>{105,12}</string>
                <key>textureRect</key>
                <string>{{767,2},{105,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_healthbar_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,12}</string>
                <key>spriteSourceSize</key>
                <string>{105,12}</string>
                <key>textureRect</key>
                <string>{{660,2},{105,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy_healthbar_bar_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,12}</string>
                <key>spriteSourceSize</key>
                <string>{105,12}</string>
                <key>textureRect</key>
                <string>{{553,2},{105,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>farm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{846,250},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightJoy_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{412,338},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{39,45},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grey_boxCheckmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{38,36}</string>
                <key>textureRect</key>
                <string>{{265,45},{38,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harvester.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,14}</string>
                <key>spriteSourceSize</key>
                <string>{16,14}</string>
                <key>textureRect</key>
                <string>{{70,17},{16,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{262,17},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthbar_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,10}</string>
                <key>spriteSourceSize</key>
                <string>{45,10}</string>
                <key>textureRect</key>
                <string>{{257,2},{45,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>healthbar_bar_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,10}</string>
                <key>spriteSourceSize</key>
                <string>{45,10}</string>
                <key>textureRect</key>
                <string>{{304,2},{45,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineDark16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{405,45},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineDark28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{355,45},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lineDark29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{305,45},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{310,338},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_topfixed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,36}</string>
                <key>textureRect</key>
                <string>{{136,45},{127,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,135}</string>
                <key>spriteSourceSize</key>
                <string>{180,135}</string>
                <key>textureRect</key>
                <string>{{703,338},{180,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,22}</string>
                <key>spriteSourceSize</key>
                <string>{9,22}</string>
                <key>textureRect</key>
                <string>{{651,17},{9,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,102}</string>
                <key>spriteSourceSize</key>
                <string>{5,102}</string>
                <key>textureRect</key>
                <string>{{514,338},{5,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,18}</string>
                <key>spriteSourceSize</key>
                <string>{168,18}</string>
                <key>textureRect</key>
                <string>{{481,17},{168,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_10_scale9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,18}</string>
                <key>spriteSourceSize</key>
                <string>{52,18}</string>
                <key>textureRect</key>
                <string>{{427,17},{52,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_10_scale9_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,72}</string>
                <key>spriteSourceSize</key>
                <string>{208,72}</string>
                <key>textureRect</key>
                <string>{{676,102},{208,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_10_x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,72}</string>
                <key>spriteSourceSize</key>
                <string>{672,72}</string>
                <key>textureRect</key>
                <string>{{2,176},{672,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_10_x4_disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,72}</string>
                <key>spriteSourceSize</key>
                <string>{672,72}</string>
                <key>textureRect</key>
                <string>{{2,250},{672,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_10_x4_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,72}</string>
                <key>spriteSourceSize</key>
                <string>{672,72}</string>
                <key>textureRect</key>
                <string>{{2,102},{672,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_UI_export_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,82}</string>
                <key>spriteSourceSize</key>
                <string>{168,82}</string>
                <key>textureRect</key>
                <string>{{676,250},{168,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{44,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{56,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{38,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{50,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{8,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{2,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{14,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{26,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{20,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>n9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{32,2},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necro_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{319,17},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>necro_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{338,17},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_banner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,26}</string>
                <key>spriteSourceSize</key>
                <string>{49,26}</string>
                <key>textureRect</key>
                <string>{{840,17},{49,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_banner_hili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,26}</string>
                <key>spriteSourceSize</key>
                <string>{49,26}</string>
                <key>textureRect</key>
                <string>{{891,17},{49,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,15}</string>
                <key>spriteSourceSize</key>
                <string>{75,15}</string>
                <key>textureRect</key>
                <string>{{129,17},{75,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,26}</string>
                <key>spriteSourceSize</key>
                <string>{176,26}</string>
                <key>textureRect</key>
                <string>{{662,17},{176,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,8}</string>
                <key>spriteSourceSize</key>
                <string>{5,8}</string>
                <key>textureRect</key>
                <string>{{198,2},{5,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,12}</string>
                <key>spriteSourceSize</key>
                <string>{46,12}</string>
                <key>textureRect</key>
                <string>{{457,2},{46,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,12}</string>
                <key>spriteSourceSize</key>
                <string>{46,12}</string>
                <key>textureRect</key>
                <string>{{505,2},{46,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,7}</string>
                <key>spriteSourceSize</key>
                <string>{27,7}</string>
                <key>textureRect</key>
                <string>{{62,2},{27,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,7}</string>
                <key>spriteSourceSize</key>
                <string>{27,7}</string>
                <key>textureRect</key>
                <string>{{169,2},{27,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,98}</string>
                <key>spriteSourceSize</key>
                <string>{82,98}</string>
                <key>textureRect</key>
                <string>{{124,338},{82,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,15}</string>
                <key>spriteSourceSize</key>
                <string>{22,15}</string>
                <key>textureRect</key>
                <string>{{88,17},{22,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_gauntlet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{54,17},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_grenade.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{368,2},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{16,13}</string>
                <key>textureRect</key>
                <string>{{26,17},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_psionic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,13}</string>
                <key>spriteSourceSize</key>
                <string>{22,13}</string>
                <key>textureRect</key>
                <string>{{2,17},{22,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,13}</string>
                <key>spriteSourceSize</key>
                <string>{25,13}</string>
                <key>textureRect</key>
                <string>{{874,2},{25,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_select_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{357,17},{33,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_select_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,18}</string>
                <key>spriteSourceSize</key>
                <string>{33,18}</string>
                <key>textureRect</key>
                <string>{{392,17},{33,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon_spiked_gauntlet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{112,17},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,135}</string>
                <key>spriteSourceSize</key>
                <string>{180,135}</string>
                <key>textureRect</key>
                <string>{{521,338},{180,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zoomIn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{455,45},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>master_ui.png</string>
            <key>size</key>
            <string>{944,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6110f2042e893b588212d07954da422a:26b69f00367873ebc190db29748c85fa:46d5613a345bde46170341c988b3c4b9$</string>
            <key>textureFileName</key>
            <string>master_ui.png</string>
        </dict>
    </dict>
</plist>
