<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Troll_Icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{488,79},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{487,113},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{498,63},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_Running_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{508,63},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>badmother20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{496,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brickwall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{356,2},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_flat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{496,24},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{251,113},{11,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{268,113},{11,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,15}</string>
                <key>spriteSourceSize</key>
                <string>{5,15}</string>
                <key>textureRect</key>
                <string>{{488,50},{5,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crazedcook10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{313,109},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_elf8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{498,73},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{206,40},{29,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_face_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{237,39},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_face_neutral_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{268,39},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_face_neutral_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{299,47},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_flinch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{206,79},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_gritted_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{104,98},{28,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_gritted_teeth_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{141,98},{28,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{237,76},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_left_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{268,76},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_left_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{299,78},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_left_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{336,54},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{336,91},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{367,54},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{367,91},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{398,54},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_side_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{429,87},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{398,91},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{429,50},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{460,50},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth_side_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{459,87},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{19,8}</string>
                <key>textureRect</key>
                <string>{{65,112},{19,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_beard2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,5}</string>
                <key>spriteSourceSize</key>
                <string>{19,5}</string>
                <key>textureRect</key>
                <string>{{199,92},{19,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_glasses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,8}</string>
                <key>spriteSourceSize</key>
                <string>{27,8}</string>
                <key>textureRect</key>
                <string>{{36,112},{27,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{178,92},{34,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_monocle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{285,113},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_moustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,5}</string>
                <key>spriteSourceSize</key>
                <string>{17,5}</string>
                <key>textureRect</key>
                <string>{{336,47},{17,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fist_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{153,40},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fist_moving.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{408,2},{49,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fist_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,46}</string>
                <key>textureRect</key>
                <string>{{459,2},{35,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{2,112},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{237,113},{13,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{507,53},{8,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{299,109},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{199,116},{10,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{498,83},{6,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{216,116},{10,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{19,112},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{86,112},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{508,73},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hulkingmantis8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{496,41},{8,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idol8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{508,41},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imp8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{508,83},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackal8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{488,67},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumper8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{497,91},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumper9x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{325,109},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_topfixed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,36}</string>
                <key>spriteSourceSize</key>
                <string>{127,36}</string>
                <key>textureRect</key>
                <string>{{104,2},{127,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{43,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{300,2},{43,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mutantfish8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{497,101},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ogre10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{495,51},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_baby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,65}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{233,2},{35,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{2,2},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{487,89},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{497,111},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sludge8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{507,93},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{507,103},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>townsmen8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{507,113},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wildling8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{487,101},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{104,40},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>master.png</string>
            <key>size</key>
            <string>{518,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d5236dda994e48a4319c14c8a2d046:c5f38743770a7243ba8812a842283c1c:552dd7f595df33b2cd73a42f9fda294b$</string>
            <key>textureFileName</key>
            <string>master.png</string>
        </dict>
    </dict>
</plist>
