<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Troll_Icon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{87,112},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{257,101},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{257,111},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Troll_Icon_Running_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{267,101},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>badmother20x20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{325,106},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brickwall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{206,2},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_flat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{104,111},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{121,111},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{134,111},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,15}</string>
                <key>spriteSourceSize</key>
                <string>{5,15}</string>
                <key>textureRect</key>
                <string>{{387,121},{5,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crazedcook10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{164,116},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dark_elf8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{267,111},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_eyes_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,37}</string>
                <key>spriteSourceSize</key>
                <string>{29,37}</string>
                <key>textureRect</key>
                <string>{{429,2},{29,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_face_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{258,39},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_face_neutral_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{325,47},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_face_neutral_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{362,47},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_flinch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{393,39},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_gritted_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{295,39},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_gritted_teeth_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{429,33},{28,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{424,63},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_left_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{393,76},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_left_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{424,94},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_left_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{153,54},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{190,54},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_right_2eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{227,54},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_look_right_eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{258,70},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_look_right_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{152,85},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_side_closed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{295,76},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{189,85},{29,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_teeth_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,35}</string>
                <key>spriteSourceSize</key>
                <string>{29,35}</string>
                <key>textureRect</key>
                <string>{{226,91},{29,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f_teeth_side.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{325,78},{26,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>f_teeth_side_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,35}</string>
                <key>spriteSourceSize</key>
                <string>{26,35}</string>
                <key>textureRect</key>
                <string>{{362,84},{26,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_beard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,8}</string>
                <key>spriteSourceSize</key>
                <string>{19,8}</string>
                <key>textureRect</key>
                <string>{{471,99},{19,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_beard2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,5}</string>
                <key>spriteSourceSize</key>
                <string>{19,5}</string>
                <key>textureRect</key>
                <string>{{347,121},{19,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_glasses.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,8}</string>
                <key>spriteSourceSize</key>
                <string>{27,8}</string>
                <key>textureRect</key>
                <string>{{461,99},{27,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_hat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{461,63},{34,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ff_monocle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{468,17},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ff_moustache.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,5}</string>
                <key>spriteSourceSize</key>
                <string>{17,5}</string>
                <key>textureRect</key>
                <string>{{368,121},{17,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fist_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,50}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{153,2},{51,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fist_moving.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,46}</string>
                <key>spriteSourceSize</key>
                <string>{49,46}</string>
                <key>textureRect</key>
                <string>{{104,60},{49,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fist_neutral.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,46}</string>
                <key>spriteSourceSize</key>
                <string>{35,46}</string>
                <key>textureRect</key>
                <string>{{381,2},{35,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,14}</string>
                <key>spriteSourceSize</key>
                <string>{15,14}</string>
                <key>textureRect</key>
                <string>{{2,112},{15,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,12}</string>
                <key>spriteSourceSize</key>
                <string>{13,12}</string>
                <key>textureRect</key>
                <string>{{468,2},{13,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,9}</string>
                <key>spriteSourceSize</key>
                <string>{8,9}</string>
                <key>textureRect</key>
                <string>{{66,112},{8,9}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{468,30},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gore5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{10,15}</string>
                <key>textureRect</key>
                <string>{{147,116},{10,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,8}</string>
                <key>spriteSourceSize</key>
                <string>{6,8}</string>
                <key>textureRect</key>
                <string>{{381,39},{6,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{347,106},{10,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{19,112},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gore9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{176,116},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{277,101},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hulkingmantis8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{200,116},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idol8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{210,116},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imp8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{277,111},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackal8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{36,112},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumper8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{466,43},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jumper9x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,8}</string>
                <key>spriteSourceSize</key>
                <string>{9,8}</string>
                <key>textureRect</key>
                <string>{{76,112},{9,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{43,54}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{325,2},{43,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mutantfish8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{466,53},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ogre10x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{188,116},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_baby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,65}</string>
                <key>spriteSourceSize</key>
                <string>{35,65}</string>
                <key>textureRect</key>
                <string>{{258,2},{35,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,108}</string>
                <key>spriteSourceSize</key>
                <string>{100,108}</string>
                <key>textureRect</key>
                <string>{{2,2},{100,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{46,112},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{404,113},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sludge8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{414,113},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thief8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{287,113},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>townsmen8x8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,8}</string>
                <key>spriteSourceSize</key>
                <string>{8,8}</string>
                <key>textureRect</key>
                <string>{{297,113},{8,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wildling8x10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,10}</string>
                <key>spriteSourceSize</key>
                <string>{8,10}</string>
                <key>textureRect</key>
                <string>{{56,112},{8,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{104,2},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>master.png</string>
            <key>size</key>
            <string>{482,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78fd2b3e549cff61dd6b88a4e2e4da5a:3234bd4c9e4355b82bd9c66adabb5b73:552dd7f595df33b2cd73a42f9fda294b$</string>
            <key>textureFileName</key>
            <string>master.png</string>
        </dict>
    </dict>
</plist>
